*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none   /*remove .*/
}

nav{
    background-color: dimgrey;/*grey background colour*/
    display: flex;
    justify-content: space-between; /* Space between logo and list */
    align-items: center; /* Center items vertically (MIDDLE OF THE COLOR) */
    padding: 10px 20px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #000000;
}

h2{
    color: aliceblue;
}